<a href="https://colab.research.google.com/github/moisesaguiar-netizen/banco-de-dados/blob/main/C%C3%B3pia_de_2ds_bd_criar_bd_MySQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PROJETO: CRIAÇÃO DE BANCO DE DADOS COM MYSQL

In [10]:
# Instala o MariaDB (um substituto compatível para MySQL)
!apt-get install -y mariadb-server

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  galera-4 gawk libcgi-fast-perl libcgi-pm-perl libclone-perl
  libconfig-inifiles-perl libdbd-mysql-perl libdbi-perl libencode-locale-perl
  libfcgi-bin libfcgi-perl libfcgi0ldbl libhtml-parser-perl
  libhtml-tagset-perl libhtml-template-perl libhttp-date-perl
  libhttp-message-perl libio-html-perl liblwp-mediatypes-perl libmariadb3
  libterm-readkey-perl liburi-perl liburing2 mariadb-client-10.6
  mariadb-client-core-10.6 mariadb-common mariadb-server-10.6
  mariadb-server-core-10.6
Suggested packages:
  gawk-doc libmldbm-perl libnet-daemon-perl libsql-statement-perl
  libdata-dump-perl libipc-sharedcache-perl libbusiness-isbn-perl libwww-perl
  mailx mariadb-test netcat-openbsd
The following NEW packages will be installed:
  galera-4 gawk libcgi-fast-perl libcgi-pm-perl libclone-perl
  libconfig-inifiles-perl libdbd-mysql-perl libdbi-perl libencode-locale-perl
  libfcgi-bin libfcgi-perl libfcgi0ldbl libhtml-parser-perl
  libhtml-tagset-perl libhtml-template-perl libhttp-date-perl
  libhttp-message-perl libio-html-perl liblwp-mediatypes-perl libmariadb3
  libterm-readkey-perl liburi-perl liburing2 mariadb-client-10.6
  mariadb-client-core-10.6 mariadb-common mariadb-server mariadb-server-10.6
  mariadb-server-core-10.6
0 upgraded, 29 newly installed, 0 to remove and 2 not upgraded.
Need to get 17.1 MB/17.8 MB of archives.
After this operation, 161 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 gawk amd64 1:5.1.0-1ubuntu0.1 [447 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 mariadb-common all 1:10.6.22-0ubuntu0.22.04.1 [16.5 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy/universe amd64 galera-4 amd64 26.4.9-1build1 [720 kB]
Get:4 http://archive.ubuntu.com/ubuntu jammy/main amd64 libdbi-perl amd64 1.643-3build3 [741 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy/main amd64 libconfig-inifiles-perl all 3.000003-1 [40.5 kB]
Get:6 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 libmariadb3 amd64 1:10.6.22-0ubuntu0.22.04.1 [188 kB]
Get:7 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 mariadb-client-core-10.6 amd64 1:10.6.22-0ubuntu0.22.04.1 [1,002 kB]
Get:8 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 mariadb-client-10.6 amd64 1:10.6.22-0ubuntu0.22.04.1 [1,658 kB]
Get:9 http://archive.ubuntu.com/ubuntu jammy/main amd64 liburing2 amd64 2.1-2build1 [10.3 kB]
Get:10 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 mariadb-server-core-10.6 amd64 1:10.6.22-0ubuntu0.22.04.1 [8,070 kB]
Get:11 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 mariadb-server-10.6 amd64 1:10.6.22-0ubuntu0.22.04.1 [4,128 kB]
Get:12 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 libdbd-mysql-perl amd64 4.050-5ubuntu0.22.04.1 [87.6 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy/main amd64 libterm-readkey-perl amd64 2.38-1build4 [25.2 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 mariadb-server all 1:10.6.22-0ubuntu0.22.04.1 [11.8 kB]
Fetched 17.1 MB in 1s (11.7 MB/s)
Preconfiguring packages ...
Selecting previously unselected package gawk.
(Reading database ... 117540 files and directories currently installed.)
Preparing to unpack .../0-gawk_1%3a5.1.0-1ubuntu0.1_amd64.deb ...
Unpacking gawk (1:5.1.0-1ubuntu0.1) ...
Selecting previously unselected package mariadb-common.
Preparing to unpack .../1-mariadb-common_1%3a10.6.22-0ubuntu0.22.04.1_all.deb ...
Unpacking mariadb-common (1:10.6.22-0ubuntu0.22.04.1) ...
Selecting previously unselected package galera-4.
Preparing to unpack .../2-galera-4_26.4.9-1build1_amd64.deb ...
Unpacking galera-4 (26.4.9-1build1) ...
Selecting previously unselected package libdbi-perl:amd64.
Preparing to unpack .../3-libdbi-perl_1.643-3build3_amd64.deb ...
Unpacking libdbi-perl:amd64 (1.643-3build3) ...
Selecting previously unselected package libconfig-inifiles-perl.
Preparing to unpack .../4-libconfig-inifiles-perl_3.000003-1_all.deb ...
Unpacking libconfig-inifiles-perl (3.000003-1) ...
Selecting previously unselected package libmariadb3:amd64.
Preparing to unpack .../5-libmariadb3_1%3a10.6.22-0ubuntu0.22.04.1_amd64.deb ...
Unpacking libmariadb3:amd64 (1:10.6.22-0ubuntu0.22.04.1) ...
Selecting previously unselected package mariadb-client-core-10.6.
Preparing to unpack .../6-mariadb-client-core-10.6_1%3a10.6.22-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mariadb-client-core-10.6 (1:10.6.22-0ubuntu0.22.04.1) ...
Selecting previously unselected package mariadb-client-10.6.
Preparing to unpack .../7-mariadb-client-10.6_1%3a10.6.22-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mariadb-client-10.6 (1:10.6.22-0ubuntu0.22.04.1) ...
Selecting previously unselected package liburing2:amd64.
Preparing to unpack .../8-liburing2_2.1-2build1_amd64.deb ...
Unpacking liburing2:amd64 (2.1-2build1) ...
Selecting previously unselected package mariadb-server-core-10.6.
Preparing to unpack .../9-mariadb-server-core-10.6_1%3a10.6.22-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mariadb-server-core-10.6 (1:10.6.22-0ubuntu0.22.04.1) ...
Setting up mariadb-common (1:10.6.22-0ubuntu0.22.04.1) ...
update-alternatives: using /etc/mysql/mariadb.cnf to provide /etc/mysql/my.cnf (my.cnf) in auto mode
Selecting previously unselected package mariadb-server-10.6.
(Reading database ... 118080 files and directories currently installed.)
Preparing to unpack .../00-mariadb-server-10.6_1%3a10.6.22-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mariadb-server-10.6 (1:10.6.22-0ubuntu0.22.04.1) ...
Selecting previously unselected package libhtml-tagset-perl.
Preparing to unpack .../01-libhtml-tagset-perl_3.20-4_all.deb ...
Unpacking libhtml-tagset-perl (3.20-4) ...
Selecting previously unselected package liburi-perl.
Preparing to unpack .../02-liburi-perl_5.10-1_all.deb ...
Unpacking liburi-perl (5.10-1) ...
Selecting previously unselected package libhtml-parser-perl:amd64.
Preparing to unpack .../03-libhtml-parser-perl_3.76-1build2_amd64.deb ...
Unpacking libhtml-parser-perl:amd64 (3.76-1build2) ...
Selecting previously unselected package libcgi-pm-perl.
Preparing to unpack .../04-libcgi-pm-perl_4.54-1_all.deb ...
Unpacking libcgi-pm-perl (4.54-1) ...
Selecting previously unselected package libfcgi0ldbl:amd64.
Preparing to unpack .../05-libfcgi0ldbl_2.4.2-2ubuntu0.1_amd64.deb ...
Unpacking libfcgi0ldbl:amd64 (2.4.2-2ubuntu0.1) ...
Selecting previously unselected package libfcgi-perl:amd64.
Preparing to unpack .../06-libfcgi-perl_0.82+ds-1build1_amd64.deb ...
Unpacking libfcgi-perl:amd64 (0.82+ds-1build1) ...
Selecting previously unselected package libcgi-fast-perl.
Preparing to unpack .../07-libcgi-fast-perl_1%3a2.15-1_all.deb ...
Unpacking libcgi-fast-perl (1:2.15-1) ...
Selecting previously unselected package libclone-perl.
Preparing to unpack .../08-libclone-perl_0.45-1build3_amd64.deb ...
Unpacking libclone-perl (0.45-1build3) ...
Selecting previously unselected package libdbd-mysql-perl:amd64.
Preparing to unpack .../09-libdbd-mysql-perl_4.050-5ubuntu0.22.04.1_amd64.deb ...
Unpacking libdbd-mysql-perl:amd64 (4.050-5ubuntu0.22.04.1) ...
Selecting previously unselected package libencode-locale-perl.
Preparing to unpack .../10-libencode-locale-perl_1.05-1.1_all.deb ...
Unpacking libencode-locale-perl (1.05-1.1) ...
Selecting previously unselected package libfcgi-bin.
Preparing to unpack .../11-libfcgi-bin_2.4.2-2ubuntu0.1_amd64.deb ...
Unpacking libfcgi-bin (2.4.2-2ubuntu0.1) ...
Selecting previously unselected package libhtml-template-perl.
Preparing to unpack .../12-libhtml-template-perl_2.97-1.1_all.deb ...
Unpacking libhtml-template-perl (2.97-1.1) ...
Selecting previously unselected package libhttp-date-perl.
Preparing to unpack .../13-libhttp-date-perl_6.05-1_all.deb ...
Unpacking libhttp-date-perl (6.05-1) ...
Selecting previously unselected package libio-html-perl.
Preparing to unpack .../14-libio-html-perl_1.004-2_all.deb ...
Unpacking libio-html-perl (1.004-2) ...
Selecting previously unselected package liblwp-mediatypes-perl.
Preparing to unpack .../15-liblwp-mediatypes-perl_6.04-1_all.deb ...
Unpacking liblwp-mediatypes-perl (6.04-1) ...
Selecting previously unselected package libhttp-message-perl.
Preparing to unpack .../16-libhttp-message-perl_6.36-1_all.deb ...
Unpacking libhttp-message-perl (6.36-1) ...
Selecting previously unselected package libterm-readkey-perl.
Preparing to unpack .../17-libterm-readkey-perl_2.38-1build4_amd64.deb ...
Unpacking libterm-readkey-perl (2.38-1build4) ...
Selecting previously unselected package mariadb-server.
Preparing to unpack .../18-mariadb-server_1%3a10.6.22-0ubuntu0.22.04.1_all.deb ...
Unpacking mariadb-server (1:10.6.22-0ubuntu0.22.04.1) ...
Setting up libconfig-inifiles-perl (3.000003-1) ...
Setting up galera-4 (26.4.9-1build1) ...
Setting up libhttp-date-perl (6.05-1) ...
Setting up libfcgi0ldbl:amd64 (2.4.2-2ubuntu0.1) ...
Setting up gawk (1:5.1.0-1ubuntu0.1) ...
Setting up libclone-perl (0.45-1build3) ...
Setting up libhtml-tagset-perl (3.20-4) ...
Setting up liblwp-mediatypes-perl (6.04-1) ...
Setting up libfcgi-bin (2.4.2-2ubuntu0.1) ...
Setting up libencode-locale-perl (1.05-1.1) ...
Setting up libio-html-perl (1.004-2) ...
Setting up libmariadb3:amd64 (1:10.6.22-0ubuntu0.22.04.1) ...
Setting up libfcgi-perl:amd64 (0.82+ds-1build1) ...
Setting up libterm-readkey-perl (2.38-1build4) ...
Setting up liburing2:amd64 (2.1-2build1) ...
Setting up liburi-perl (5.10-1) ...
Setting up libdbi-perl:amd64 (1.643-3build3) ...
Setting up mariadb-server-core-10.6 (1:10.6.22-0ubuntu0.22.04.1) ...
Setting up libhttp-message-perl (6.36-1) ...
Setting up mariadb-client-core-10.6 (1:10.6.22-0ubuntu0.22.04.1) ...
Setting up libdbd-mysql-perl:amd64 (4.050-5ubuntu0.22.04.1) ...
Setting up libhtml-parser-perl:amd64 (3.76-1build2) ...
Setting up mariadb-client-10.6 (1:10.6.22-0ubuntu0.22.04.1) ...
Setting up libcgi-pm-perl (4.54-1) ...
Setting up libhtml-template-perl (2.97-1.1) ...
Setting up mariadb-server-10.6 (1:10.6.22-0ubuntu0.22.04.1) ...
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of stop.
Created symlink /etc/systemd/system/multi-user.target.wants/mariadb.service → /lib/systemd/system/mariadb.service.
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up libcgi-fast-perl (1:2.15-1) ...
Setting up mariadb-server (1:10.6.22-0ubuntu0.22.04.1) ...
Processing triggers for man-db (2.10.2-1) ...
Processing triggers for libc-bin (2.35-0ubuntu3.11) ...
/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_5.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbb.so.12 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_loader.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_0.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libumf.so.1 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_level_zero.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_opencl.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_level_zero_v2.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc_proxy.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtcm.so.1 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libhwloc.so.15 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtcm_debug.so.1 is not a symbolic link

In [ ]:
# Inicia o serviço do SGDB MariaDB
!service mariadb start

 * Starting MariaDB database server mariadbd
   ...done.

In [8]:
# Configura o MySQL e cria o banco de dados (execute só 1 vez, para executar de novo deve trocar nomes de banco e usuário)
!mysql -e "CREATE DATABASE Escola;" && echo "Banco de dados 'Escola' criado com sucesso."
!mysql -e "CREATE USER 'adm'@'localhost' IDENTIFIED BY 'senha';" && echo "Usuário 'adm' criado com sucesso."
!mysql -e "GRANT ALL PRIVILEGES ON Escola.* TO 'adm'@'localhost';" && echo "Privilégios concedidos ao usuário 'adm'."
!mysql -e "FLUSH PRIVILEGES;" && echo "Privilégios atualizados com sucesso."

/bin/bash: line 1: mysql: command not found
/bin/bash: line 1: mysql: command not found
/bin/bash: line 1: mysql: command not found
/bin/bash: line 1: mysql: command not found

In [ ]:
# Exlclui o banco de dados
#!mysql -e "DROP DATABASE Escola;" && echo "Banco de dados 'Escola' excluído com sucesso."

# Exlcui usuario do banco de dados
#!mysql -e "DROP USER 'name'@'localhost';" && echo "Usuário 'name' excluído com sucesso."

In [ ]:
# Instala a biblioteca mysql.connector
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.6.0-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (11 kB)
Downloading mysql_connector_python-9.6.0-cp312-cp312-manylinux_2_28_x86_64.whl (34.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.5/34.5 MB 43.6 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.6.0

In [ ]:
# Importa biblioteca mysql.connector
import mysql.connector
from mysql.connector import Error

try:
    # Conecta ao banco de dados Escola
    conn = mysql.connector.connect(
        host="localhost",
        user="adm",
        password="senha",
        database="Escola"
    )
    # Imprime mensagens para confirmar a conexão
    if conn.is_connected():
        print("Conexão realizada com sucesso.")

    cursor = conn.cursor()

except Error as e:
    print(f"Erro ao conectar ao MySQL: {e}")

Erro ao conectar ao MySQL: 2003: Can't connect to MySQL server on 'localhost:3306' (Errno 111: Connection refused)

In [11]:
# Cria tabelas no bd Escola
cursor.execute("CREATE TABLE Alunos (id INT AUTO_INCREMENT PRIMARY KEY, nome VARCHAR(100) NOT NULL, data_nascimento DATE NOT NULL, endereco VARCHAR(255) NOT NULL, serie INT NOT NULL);")
cursor.execute("CREATE TABLE Professores (id INT AUTO_INCREMENT PRIMARY KEY, nome VARCHAR(100) NOT NULL, especialidade VARCHAR(100) NOT NULL, data_contratacao DATE NOT NULL);")
cursor.execute("CREATE TABLE Disciplinas (id INT AUTO_INCREMENT PRIMARY KEY, nome VARCHAR(100) NOT NULL, carga_horaria INT NOT NULL);")

NameError: name 'cursor' is not defined

In [ ]:
# Exclui tabelas do banco de dados
#cursor.execute("DROP TABLE IF EXISTS Alunos1;")
#cursor.execute("DROP TABLE IF EXISTS Professores1;")
#cursor.execute("DROP TABLE IF EXISTS Disciplinas1;")

In [ ]:
 # Exibe as tabelas criadas
 cursor.execute("SHOW TABLES;")
 tables = cursor.fetchall()
 print("Tabelas no banco de dados 'Escola:")
 for table in tables:
  print(table[0])

In [ ]:
# Apagar tabelas com "1" no nome
tabelas_para_apagar = ["Alunos1", "Disciplinas1", "Professores1"]
for tabela in tabelas_para_apagar:
  try:
    cursor.execute(f"DROP TABLE IF EXISTS {tabela};")
    print(f"Tabela '{tabela}' apagada com sucesso.")
  except Error as e:
    print(f"Erro ao apagar a tabela '{tabela}': {e}")

In [ ]:
# Insere dados nas tabelas
cursor.execute("INSERT INTO Alunos (nome, data_nascimento, endereco, serie) VALUES ('João Silva', '2005-05-15', 'Rua A, 123', 2), ('Maria Oliveira', '2006-08-22', 'Rua B, 456', 2);")
cursor.execute("INSERT INTO Professores (nome, especialidade, data_contratacao) VALUES ('Carlos Souza', 'Matemática', '2020-02-01'), ('Ana Lima', 'Português', '2019-03-15');")
cursor.execute("INSERT INTO Disciplinas (nome, carga_horaria) VALUES ('Matemática', 200), ('Português', 180);")

In [ ]:
# Importa biblioteca Pandas
import pandas as pd

# Função para exibir dados de uma tabela em formato de DataFrame
def exibir_tabela(nome_tabela):
  cursor.execute(f"SELECT * FROM {nome_tabela};")
  rows = cursor.fetchall()
  colunas = [desc[0] for desc in cursor.description]
  df = pd.DataFrame(rows, columns=colunas)
  print(f"\nDados da tabela {nome_tabela}:")
  display(df)

# Exibe tabelas criadas
cursor.execute("SHOW TABLES;")
tables = cursor.fetchall()
print("Tabelas no banco de dados 'Escola':")
for table in tables:
  print(table[0])
  exibir_tabela(table[0])

In [ ]:
# Consulta dados na tabela Alunos
cursor.execute("SELECT * FROM Alunos;")
for row in cursor.fetchall():
    print(row)

In [ ]:
# Consulta dados na tabela Professores
cursor.execute("SELECT * FROM Professores;")
for row in cursor.fetchall():
    # Formata a data como string (texto)
    id, nome, especialidade, data_contratacao = row
    print(f"ID: {id}, Nome: {nome}, Especialidade: {especialidade}, Data de Contratação: {data_contratacao.strftime('%Y-%m-%d')}")

In [ ]:
# Consulta dados na tabela Disciplinas
cursor.execute("SELECT * FROM Disciplinas;")
for row in cursor.fetchall():
    print(row)

In [ ]:
# Fecha a conexão com o SGDB MySQL
try:
    cursor.close()
    conn.close()
    print("Conexão fechada com sucesso.")
except Error as e:
    print(f"Erro ao fechar a conexão com MySQL: {e}")